.item-div{
    display: flex; 
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    border-radius: 0.5vh;
    margin-bottom: 2vh;
    padding-left: 1.5vh;
    padding-right: 1vh;
}

.item-name-div{
    display: inline-block;
    font-size: 20px;
    width: 100% ;
}

.item-name{
    font-weight: 700;
}

.item-button{
    font-weight: 700;
    font-size: 22px; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    font-size: 16px;
    margin-left: 1vh;
    cursor: pointer;
    border-radius: 10px;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.item-edit{
    background-color: var(--scr-green);
}

.item-delete{
    background-color: var(--mandy); 
}